---
import Layout from '../layouts/Layout.astro';
import Blogpage from '../components/Blogpage.astro';
import '@fontsource-variable/space-grotesk';

---

<Layout title="Blogs">
<main class=" w-full">
    
        <Blogpage />
    
</main>
</Layout>
