---
import { Image } from "astro:assets";
---

<section class="w-full flex-col text-[#0F0D23] bg-white max-sm:px-5 px-16   flex justify-between shadow-2xl py-16">
    <p class="w-full pt-16 pb-5">Hooman Digital / Blogs</p>
    <div class="grid max-sm:grid-cols-1 grid-cols-2 gap-5">
        <div class="w-full">
            <Image 
            src="https://hooman-digital-assignment.vercel.app/_astro/1668696776-week-in-review-5.6ff45630_Z2oToGG.webp"
            width="600" height="600"
            alt="blogimage"
            class="rounded-md my-4"
            />
            <div class="flex flex-row gap-5 my-3">
                <p class="font-bold">NewsUpdates</p>
                <p>Dec 2, 2022</p>
            </div>
            <h1 class="text-4xl w-full my-3">Akash Weekly: Web3 Working Group</h1>
            <p class="w-[80%] text-justify mb-5">There are battles happening between privacy and surveillance. Web3 creates many technologies that will enable privacy and thus is at the forefront of these debates.</p>
            <button class="px-6 py-2 cursor-pointer bg-white border-2 border-black rounded-full">Read More</button>
        </div>        <div class="w-full">
            <Image 
            src="https://hooman-digital-assignment.vercel.app/_astro/1668696776-week-in-review-5.6ff45630_Z2oToGG.webp"
            width="600" height="600"
            alt="blogimage"
            class="rounded-md my-4"
            />
            <div class="flex flex-row gap-5 my-3">
                <p class="font-bold">NewsUpdates</p>
                <p>Dec 2, 2022</p>
            </div>
            <h1 class="text-4xl w-full my-3">Akash Weekly: Web3 Working Group</h1>
            <p class="w-[80%] text-justify mb-5">There are battles happening between privacy and surveillance. Web3 creates many technologies that will enable privacy and thus is at the forefront of these debates.</p>
            <button class="px-6 py-2 cursor-pointer bg-white border-2 border-black rounded-full">Read More</button>
        </div>        <div class="w-full">
            <Image 
            src="https://hooman-digital-assignment.vercel.app/_astro/1668696776-week-in-review-5.6ff45630_Z2oToGG.webp"
            width="600" height="600"
            alt="blogimage"
            class="rounded-md my-4"
            />
            <div class="flex flex-row gap-5 my-3">
                <p class="font-bold">NewsUpdates</p>
                <p>Dec 2, 2022</p>
            </div>
            <h1 class="text-4xl w-full my-3">Akash Weekly: Web3 Working Group</h1>
            <p class="w-[80%] text-justify mb-5">There are battles happening between privacy and surveillance. Web3 creates many technologies that will enable privacy and thus is at the forefront of these debates.</p>
            <button class="px-6 py-2 cursor-pointer bg-white border-2 border-black rounded-full">Read More</button>
        </div>        <div class="w-full">
            <Image 
            src="https://hooman-digital-assignment.vercel.app/_astro/1668696776-week-in-review-5.6ff45630_Z2oToGG.webp"
            width="600" height="600"
            alt="blogimage"
            class="rounded-md my-4"
            />
            <div class="flex flex-row gap-5 my-3">
                <p class="font-bold">NewsUpdates</p>
                <p>Dec 2, 2022</p>
            </div>
            <h1 class="text-4xl w-full my-3">Akash Weekly: Web3 Working Group</h1>
            <p class="w-[80%] text-justify mb-5">There are battles happening between privacy and surveillance. Web3 creates many technologies that will enable privacy and thus is at the forefront of these debates.</p>
            <button class="px-6 py-2 cursor-pointer bg-white border-2 border-black rounded-full">Read More</button>
        </div>
        
    </div>


</section>

